- if @mr.comments.blocker.exists?
  = form_tag(solve_issues_project_merge_request_path(@project, @mr)) do
    .ui.accordion
      .title.active
        %h3#issue-list.ui.header
          %i.dropdown.icon
          Pending issues
      .content.active
        %div
          %table.ui.very.basic.small.table
            %thead
              %tr
                %th Title
                %th Reporter
                %th Solved?
            - @mr.comments.blocker.each do |issue|
              - issue_id = "issue#{issue.id}"
              %tr
                %td= issue_link(issue)
                %td.collapsing= issue.user.name
                %td.collapsing.center.aligned
                  .ui.checkbox
                    %input{ id: issue_id, name: 'solved[]', value: issue.id, type: 'checkbox' }
                    %label
            %tr
              %td.right.aligned{ colspan: 2 }
                %button.ui.primary.tiny.right.labeled.icon.button{ type: 'submit' }
                  %i.check.icon
                  Mark then as fixed!

- if @mr.comments.solved.exists?
  .ui.accordion
    .title
      %h3.ui.header
        %i.dropdown.icon
        Solved Issues
    .content
      %div
        %table.ui.very.basic.small.table
          %thead
            %tr
              %th Title
              %th Reviewer
          - @mr.comments.solved.includes(:reviewer).each do |issue|
            %tr
              %td= issue_link(issue)
              %td.collapsing= issue.reviewer&.name
