<% if @diff.empty? %>
  <div class="alert info">No enough information to detect difference between these two versions, blame <a href="http://cyberelk.net/tim/software/patchutils/">interdiff</a>.</div>
<% else %>

<% @diff.each_file do |file| %>
  <div class="code-review-header"><%= file.label %> <%= diff_file_status(file) %></div>
  <div class="code-review-container">
    <table class="code-review">
    <% file.each_change do |change, type, location, old_ln, new_ln| %>
      <tr class="<%= type %>" data-location="<%= location %>">
        <td><%= old_ln %></td>
        <td><%= new_ln %></td>
        <td><% unless @disable_comments %><div class="add-comment"></div><% end %><%= change %></td>
      </tr>
      <% if @comments.include?(location) %>
      <tr class="comment" data-location="<%= location %>">
        <td colspan="2">
         <%= "\uf086 #{@comments[location].count}" if @comments[location].count > 1 %>
        </td>
        <td>
          <% @comments[location].each do |comment|  %>
            <%= render partial: 'comment', locals: { comment: comment } %>
          <% end %>
          <input type="button" value="Reply" onclick="show_comment_box(this.parentElement.parentElement)">
        </td>
      </tr>
      <% end %>
    <% end %>
    </table>
  </div>
<% end %>

<% end %>
