- if @diff.empty?
  .ui.floating.small.message No enough information to detect difference between these two versions.
- else
  - @diff.each_file do |file|
    .ui.top.attached.secondary.segment.code-review-header
      %i.dropdown.icon.js-toggle-diff
      = file.label
      = diff_file_status(file)
    %table.ui.small.table.code-review
      - file.each_change do |change, type, location, old_ln, new_ln|
        - blocker = @comments[location]&.any?(&:blocker?)
        %tr{ class: type, data: { location: location } }
          %td.collapsing.line= old_ln
          %td.collapsing.line= new_ln
          %td.code #{@disable_comments ? '' : '<i class="comment icon js-add-comment"></i>'.html_safe}#{change}
        - if @comments.include?(location)
          %tr.comments{ data: { location: location, blocker: blocker } }
            %td.line.center.aligned{ colspan: 2 }
              %i{ class: code_comment_icon(@comments[location]) }
            %td
              .ui.comments
                - @comments[location].each do |comment|
                  = render partial: 'comment', locals: { comment: comment, reply: true }
