.ui.accordion
  .title
    %h3.ui.header
      %i.dropdown.icon
      Patch history
  .content
    .patch-history
      = form_tag(project_merge_request_path(@project, @mr), method: 'get') do
        %table.ui.very.basic.small.table
          %thead
            %tr
              %th Base
              %th Created at
              %th Lint
              %th CI
              %th
                .ui.radio.checkbox
                  = radio_button_tag('from', 0, @from.zero?)
                  %label
              %th
          %tbody
            - patches = @mr.patches.to_a
            - last_i = patches.size
            - patches.each_with_index do |patch, i|
            - i += 1
              %tr
                %td
                  = patch_name(patch, i)
                  - if @project.gitlab_ci? && patch.ok_to_retry_ci?
                    ―
                    %a.js-trigger-ci Trigger CI
                %td.collapsing= patch.created_at.to_formatted_s(:short)
                %td.collapsing
                  %i.ui.icon{ class: patch_linter_status(patch) }
                %td.collapsing= ci_icon(patch)
                %td.collapsing
                  - if i != last_i
                    .ui.radio.checkbox
                      = radio_button_tag('from', i, @from == i, disabled: (i >= @to))
                      %label
                %td.collapsing
                  .ui.radio.checkbox
                    = radio_button_tag('to', i, @to == i, disabled: (i <= @from))
                    %label
          %tfoot
            %tr
              %th{ colspan: 6 }
                = link_to('See all history events', history_project_merge_request_path)
                %button.ui.small.primary.button.right.floated#patch-history-submit Show diff
