<%- if @mrs.empty? %>
 <p>No merge requests were found.</p>
<%- else %>
  <div class="review-list-container">
    <div class="review-list-header"><%= pluralize(mrs.count, *title) %></div>
    <%- mrs.each do |mr| %>
      <%= link_to project_merge_request_path(@project, mr), class: "review-list #{patch_ci_status(mr.patch)}" do %>

        <div class="subject"><%= mr.subject %></div>

        <div class="summary">
          #<%= mr.id %> <%= merge_request_pending_since(mr) %>,
          opened by <%= mr.author.name %>,
          <span class="<%= mr.status %>"><%= mr.status.humanize %></span>

          <span class="target_branch"><%= mr.target_branch %></span>
        </div>
      <% end %>
    <%- end %>
  </div>

  <%= will_paginate @mrs %>
<%- end %>
