- if mrs.empty?
  %p= on_empty
- else
  .review-list-container
    - mrs.each do |mr|
      = link_to project_merge_request_path(@project, mr), class: "review-list #{patch_ci_status(mr.patch)}" do
        = image_tag gravatar_url(mr.author), alt: nil, class: 'avatar'
        .subject
          \##{mr.id} – #{mr.subject}
        .summary
          = merge_request_status_line(mr)
          %span{ class: mr.status }= mr.status.humanize
          - if mr.accepted?
            by #{mr.reviewer.name}
          %span.target_branch= mr.target_branch

  = will_paginate(mrs, params: { target_branch: @target_branch,
                                 author: @author,
                                 subject: @subject }) if mrs.is_a?(ActiveRecord::Relation)
