- if mrs.empty?
  %p= on_empty
- else
  .review-list-container
    - mrs.each do |mr|
      = link_to project_merge_request_path(@project, mr), class: "review-list #{patch_ci_status(mr.patch)}" do
        .subject= mr.subject
        .summary
          \##{mr.id} #{merge_request_pending_since(mr)},
          opened by #{mr.author.name},
          %span{ class: mr.status }= mr.status.humanize
          %span.target_branch= mr.target_branch

  = will_paginate(mrs, params: { target_branch: @target_branch,
                                 author: @author,
                                 subject: @subject }) if mrs.is_a?(ActiveRecord::Relation)
