- if mrs.empty?
  %p= on_empty
- else
  .ui.relaxed.divided.list
    - mrs.each do |mr|
      .item
        .right.floated.content
          %a.ui.label= mr_label(mr)
        %img.ui.avatar.image{src: gravatar_url(mr.author.email)}
        .content
          = link_to(project_merge_request_path(@project, mr), class: 'header') do
            #{mr.id} - #{mr.subject}
          .description= merge_request_status_line(mr)

  = will_paginate(mrs, params: { target_branch: @target_branch,
                                 author: @author,
                                 subject: @subject }) if mrs.is_a?(ActiveRecord::Relation)
