<div class="mr-summary">
  Status: <span class="<%= @mr.status %>"><%= @mr.status.humanize %></span><br>
  Author: <span><%= @mr.owner.name %></span><br>
  Version: <span><%= version %></span></br>
  CI: ?<br>
  Linter: ?</span>
</div>
<pre class="message"><%= @mr.commit_message %></pre>
