.ui.top.attached.segment
  .markdown= @patch.commit_message
.ui.bottom.attached.warning.message= author_sentence(@mr)

.ui.five.statistics
  .statistic
    .value
      %i.ui.icon{class: ci_icon(@mr.patch)}
    .label CI status
  .statistic
    .value
      %i.ui.icon{class: patch_linter_status(@mr.patch)}
    .label Linter
  .statistic
    .value= @mr.target_branch
    .label Target
  .statistic
    .value
      %img.ui.inline.circular.image{ src: gravatar_url(@mr.author.email) }
    .label= @mr.author.name
  .statistic
    .value
      %i.ui.icon{class: status_icon(@mr)}
    .label= @mr.status
