%h1.ui.header
  Merge requests for #{@project.name}
%p
  #{pluralize(@total_mrs, 'pending merge request')}.

- if @project.locked_branches.any?
  .ui.icon.warning.message
    %i.lock.icon
    .content
      .header #{'Branch'.pluralize(locked_branches.size)} locked
      %ul.list
        - locked_branches.each do |lock|
          %li <strong>#{lock.branch}</strong> - <em>“#{lock.reason}”</em> (#{lock.who.name} at #{lock.created_at.to_formatted_s(:short)})

- if @waiting_you.empty? && @waiting_others.empty?
  %p Nothing here, go drink some wine :-)
- else
  = render partial: 'list', locals: { mrs: @waiting_you, on_empty: 'Nothing here, uhu!!' }

  %h4.ui.horizontal.divider.header
    %i.hourglass.half.icon
    Waiting for others

  = render partial: 'list', locals: { mrs: @waiting_others, on_empty: 'Nothing here, go review some MR!' }
%p
  See #{link_to 'finished code reviews', old_ones_project_merge_requests_path(@project)}.
