<h1><%= @mr.subject %></h1>

<pre class="message"><%= @mr.commit_message %></pre>

<% if patches.count %>
<p>You have more than one patch...  hell yeah!</p>
<% end %>

<% process_diff(patch.diff) do |file| %>
  <table class="code-review">
    <tr>
      <th colspan="3"><%= file.name %></th>
    </tr>

  <% file.each_line do |line| %>
    <tr class="<%= line.type %>">
      <td><%= line.old_ln %></td>
      <td><%= line.new_ln %></td>
      <td><%= line.data %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<p>[comments goes here]</p>

<div class="merge-bar">
  <%= link_to 'Accept', project_merge_requests_path(@project, @mr), class: 'button accept' %>
  <%= link_to 'Reject', project_merge_requests_path(@project, @mr), class: 'button reject' %>
  <%= link_to 'Just push comments', project_merge_requests_path(@project, @mr), class: 'button comment' %>
</div>
