<h1><%= @mr.patch.subject %></h1>

<%= render partial: 'summary' %>

<%= render partial: 'history' %>

<% if @mr.patches.count > 0 %>
  <%= form_tag nil, method: 'patch' do %>
    <%= hidden_field_tag(:patch_id, @patch.id) %>

    <%= render partial: 'diff', locals: { patch: patch } %>

    <%= render 'comments' %>

      <div class="merge-bar">
        <% if @mr.open? or @mr.needs_rebase? %>
          <% if @mr.author != current_user %>
            <%= submit_tag 'Accept', name: 'mr_action', data: { confirm: "Are you sure?" } %>
          <% end %>
          <%= submit_tag 'Abandon', class: 'reject', name: 'mr_action', data: { confirm: "Are you sure?" } %>
        <% end %>
        <input type="submit" value="Just push comments" name="mr_action" class="push-comments">
      </div>
  <% end %>
<% else %>
  <p><strong>You found a bizarre merge request without patches.</strong></p>
<% end %>
