%h1= @mr.patch.subject

- if target_branch_locked?
  .alert.info
    The target branch for this merge request was locked by <strong>#{@mr.who_locked_the_branch?.name}</strong>.

= render partial: 'summary'
= render partial: 'history'
= render partial: 'blockers'

:javascript
  var isAuthor = #{@mr.author == current_user};
  var isOpenMR = #{!@mr.closed?};

= form_tag(project_merge_request_path(@project, @mr, to: params[:to]), method: 'patch') do
  = hidden_field_tag(:patch_id, @patch.id)

  = render partial: 'diff', locals: { patch: @patch }
  - if interdiff_view?
    %p.alert.info Comments aren't show in diff mode.
  - else
    = render 'comments'

  .merge-bar
    - if @mr.open? || @mr.needs_rebase?
      - blockers = @mr.comments.blocker.count
      - if blockers.positive?
        .alert.info
          You cannot accept this merge request because it still have <b><a href=#issuelist>#{pluralize(blockers, 'open issue')}</a></b>.
      - if @mr.author != current_user && !target_branch_locked? && blockers.zero?
        = submit_tag 'Accept', name: 'mr_action',
                               data: { confirm: "Are you sure about accept this patch into #{@mr.target_branch}?" }
      = submit_tag 'Abandon', class: 'reject', name: 'mr_action', data: { confirm: 'Are you sure?' }
    %input.push-comments{ name: 'mr_action', type: 'submit', value: 'Just push comments' }/
