<h1><%= @mr.subject %></h1>

<pre class="message"><%= @mr.commit_message %></pre>

<%= form_tag nil, method: 'patch' do %>
<%= hidden_field_tag(:patch_id, @patch.id) %>

<% process_diff(patch.diff) do |file| %>
  <table class="code-review">
    <tr>
      <th colspan="3"><%= file.name %></th>
    </tr>

  <% file.each_line do |line| %>
    <tr class="<%= line.type %>" data-location="<%= line.location %>">
      <td><%= line.old_ln %></td>
      <td><%= line.new_ln %></td>
      <td><div class="add-comment" data-line="<%= line.id %>"></div><%= line.data %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<p>[comments goes here]</p>

<div class="merge-bar">
  <input type="submit" value="Accept" class="accept">
  <input type="submit" value="Reject" class="reject">

  <input type="submit" value="Just push comments" class="push-comments">
</div>
<% end %>
