<h1><%= @mr.subject %></h1>

<%= render partial: 'summary' %>

<%= render partial: 'history' %>

<% if @mr.patches.count > 0 %>
  <%= form_tag nil, method: 'patch' do %>
    <%= hidden_field_tag(:patch_id, @patch.id) %>

    <%= render partial: 'diff', locals: { patch: patch } %>

    <%= render 'comments' %>

    <% if @mr.open? or @mr.needs_rebase? %>
      <div class="merge-bar">
        <% if @mr.author != current_user %>
          <input type="submit" value="Accept" class="accept" name="mr_action">
        <% end %>
        <input type="submit" value="Abandon" class="reject" name="mr_action">

        <input type="submit" value="Just push comments" name="mr_action" class="push-comments">
      </div>
    <% end %>
  <% end %>
<% else %>
  <p><strong>You found a bizarre merge request without patches.</strong></p>
<% end %>
