<h1><%= @mr.subject %></h1>

<%= render partial: 'summary', locals: { version: @mr.patches.count } %>

<%= render partial: 'history', locals: { current_version: @mr.patches.count } %>

<% if @mr.patches.count > 0 %>
  <%= form_tag nil, method: 'patch' do %>
    <%= hidden_field_tag(:patch_id, @patch.id) %>

    <%= render partial: 'diff', locals: { patch: patch } %>

    <% if @mr.open? %>
      <div class="merge-bar">
        <input type="submit" value="Accept" class="accept" name="mr_action">
        <input type="submit" value="Abandon" class="reject" name="mr_action">

        <input type="submit" value="Just push comments" name="mr_action" class="push-comments">
      </div>
    <% end %>
  <% end %>
<% else %>
  <p><strong>You found a bizarre merge request without patches.</strong></p>
<% end %>
