%h1 Your Profile

= semantic_ui_form(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .two.fields
    = f.text :name, placeholder: 'This will be used in your commits', info: "leave blank if you don't want to change it"
    = f.email :email, label: 'E-mail', placeholder: 'This will be used for sign in'
  - default_timezone = (params[:user] || {})[:time_zone] || @user.time_zone
  .fields
    = f.timezone :timezone, value: default_timezone
  .two.fields
    = f.password :password, placeholder: 'Your password'
    = f.password :password_confirmation, placeholder: 'Password confirmation'
  .fields
    = f.password :current_password, placeholder: 'Current password',
                                    info: 'we need your current password to confirm your changes',
                                    action_button: 'Update'
