%h1.ui.header Your Profile

= semantic_ui_form(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .two.fields
    = f.text :name, placeholder: 'This will be used in your commits', info: "leave blank if you don't want to change it"
    = f.email :email, label: 'E-mail', placeholder: 'This will be used for sign in'
  - default_timezone = (params[:user] || {})[:time_zone] || @user.time_zone
  .fields
    = f.timezone :timezone, value: default_timezone
  .two.fields
    = f.password :password, placeholder: 'Your password'
    = f.password :password_confirmation, placeholder: 'Password confirmation'
  .fields
    = f.password :current_password, placeholder: 'Current password',
                                    info: 'we need your current password to confirm your changes'

  %h4.ui.horizontal.divider.header
    %i.bullhorn.icon
    Notifications

  .ui.horizontal.segments
    .ui.segment
      %h5.ui.header E-mail notifications
      = f.checkbox :notify_mr_creation_by_email, label: 'Merge request creation.'
      = f.checkbox :notify_mr_update_by_email, label: 'Merge request comments.'
    .ui.segment
      %h5.ui.header Web push notifications
      = f.checkbox :notify_mr_creation_by_webpush, label: 'Merge request creation.'
      = f.checkbox :notify_mr_update_by_webpush, label: 'Merge request comments.'
      = f.checkbox :notify_mr_ci_by_webpush, label: 'Merge request CI events.'
      = f.checkbox :notify_mr_status_by_webpush, label: 'Merge request status change.'

  .right.aligned
    =f.submit('Save changes', class: 'ui primary button')

%h4.ui.horizontal.divider.header
  %i.terminal.icon
  Command line interface options

= semantic_ui_form(resource, as: resource_name, url: regenerate_token_user_registration_path) do
  %p Current API token: <code>#{resource.api_token}</code>
  %button.ui.primary.button Regenerate API token!
