.ui.raised.segment.left.aligned
  = semantic_ui_form(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.text :name, autofocus: true, placeholder: 'This will be used in your commits'
    = f.email :email, label: 'E-mail', placeholder: 'This will be used for sign in'
    = f.password :password, placeholder: 'Your password'
    = f.password :password_confirmation, placeholder: 'Password confirmation'
    %button.ui.fluid.large.primary.submit.button Sign up
