<%= form_for @project, url: {action: action} do |f| %>
  <label class="required">Name</label><br>
  <%= f.text_field :name, :placeholder => 'The project name' %>

  <label>Description</label><br>
  <%= f.text_field :description, :placeholder => 'Be succinct' %>

  <label class="required">Git repository</label><br>
  <%= f.text_field :repository, :placeholder => 'The project git repository URL' %>

  <label>Linter</label>
  <i>(a script in the project directory that will run before any MR creation or update)</i><br>
  <%= f.text_field :linter, :placeholder => 'Command run by CLI before create/update a MR' %>

  <label class="required">Users</label><br>
  <ul id="project_users" data-users="<%= User.all_names.join('|') %>" data-myself="<%= current_user.name %>">
    <% @project.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>

  <h1>Jira integration</h1>

  <label>Jira user</label>
  <%= f.text_field :jira_username %>

  <label>Jira password</label>
  <i>(Stored in plain text!! So make sure this user can only comment in Jira)</i>
  <%= f.password_field :jira_password %>

  <label>Jira Ticket Regexp</label>
  <i>(This must capture the Ticket id)</i>
  <%= f.text_field :jira_ticket_regexp %>

  <label>Jira API v2 URL</label>
  <i>(e.g. https://myjira.com/rest/api/2)</i>
  <%= f.text_field :jira_api_url %>

  <h1>GitLab CI integration</h1>

  <label>Gitlab project URL</label>
  <i>(e.g. https://my_gitlab.org/my_user/my_project)</i>
  <%= f.text_field :gitlab_ci_project_url %>

  <%= f.submit action.humanize, class: 'button' %>
<% end %>

<%= print_errors :project %>
