<%= form_for @project, url: {action: action} do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name, :placeholder => 'The project name' %>

  <label>Description:</label><br>
  <%= f.text_field :description, :placeholder => 'Be succinct' %>

  <label>Git repository:</label><br>
  <%= f.text_field :repository, :placeholder => 'The project git repository URL' %>

  <label>Users:</label><br>
  <ul id="project_users" data-users="<%= User.all_names.join('|') %>" data-myself="<%= current_user.name %>">
    <% @project.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>

  <%= f.submit action.humanize, class: 'button' %>
<% end %>
