<%= form_for @project, url: {action: action} do |f| %>
  <label>Name</label><br>
  <%= f.text_field :name, :placeholder => 'The project name' %>

  <label>Description</label><br>
  <%= f.text_field :description, :placeholder => 'Be succinct' %>

  <label>Git repository</label><br>
  <%= f.text_field :repository, :placeholder => 'The project git repository URL' %>

  <label>Linter command</label>
  <i>(#{changed_files|glob patterns} will be replaced by a list of changed files, e.g. to run rubocop lint against all ruby files use "rubocop #{changed_files|*.rb,*.rake}", if this string isn't found the CLI will send the git show output via stdin)</i><br>
  <%= f.text_field :linter, :placeholder => 'Command run by CLI before create/update a MR' %>

  <label>Users</label><br>
  <ul id="project_users" data-users="<%= User.all_names.join('|') %>" data-myself="<%= current_user.name %>">
    <% @project.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>

  <h1>GitLab CI integration</h1>

  <label>Gitlab project URL</label>
  <%= f.text_field :gitlab_ci_project_url %>

  <label>Gitlab CI token</label>
  <%= f.text_field :gitlab_ci_token %>

  <%= f.submit action.humanize, class: 'button' %>
<% end %>

<%= print_errors :project %>
