%h1.ui.header Your projects
- if current_user.projects.empty?
  %p There are no projects for you :-(
- else
  .ui.large.relaxed.divided.list
    - current_user.projects.each do |p|
      .item
        .content
          .header
            = link_to(p.name, project_path(p))
          .description
            = p.description.empty? ? 'No description' : p.description
            ―
            = link_to(project_merge_requests_path(p)) do
              = merge_request_count(p)

%p= link_to 'Create project', new_project_path
