<h1>New Project</h1>


<%= form_for @project, url: {action: "create"} do |f| %>

    <label>Name:</label>
    <%= f.text_field :name %>

    <label>Git repository:</label>
    <%= f.text_field :repository %>

    <label>Users:</label>
    <%= text_field_tag 'project[users]'  %>

  <%= f.submit "Create", class: 'button' %>
<% end %>

<%= print_errors :project %>
