%h1.ui.header= @project.name

%p= link_to merge_request_count(@project), project_merge_requests_path(@project)
%p To setup review it command line interface on your project, copy and run the following command:

.ui.fluid.action.input
  %input{ readonly: true, value: "curl -H \"X-Token: #{current_user.api_token}\" -k -f #{full_setup_url} | ruby" }
  %button#copy-cli-install.ui.labeled.icon.button
    %i.copy.icon
    Copy

%p
%p Then type <code>review --help</code>.

%h4.ui.horizontal.divider.header
  %i.users.icon
  Team


.ui.tiny.horizontal.list
  - @project.users.order(name: :asc).pluck(:name, :email).each do |name, email|
    .item
      %img.ui.avatar.image{ src: gravatar_url(email) }
      .content
        .header= name

%p #{link_to 'Edit your project', edit_project_path(@project)} to add/remove users to the project.

%h4.ui.horizontal.divider.header
  %i.chart.line.icon
  Statistics

#project-reviews-chart
#project-authors-chart
#project-mr-chart

:javascript
  var authorsChartData = #{projects_merge_request_chart(@project, :author, 'Author of last %{total} merge requests accepted')};
  var reviewersChartData = #{projects_merge_request_chart(@project, :reviewer,  'Reviewer of last %{total} merge requests accepted.')};
  var mrChartData = #{projects_mr_chart_data(@project)};
