<h1><%= @project.name %></h1>

<p><%= link_to 'Merge requests', project_merge_requests_path(@project) %></p>

<p>To setup review it command line interface on your project working copy, do:</p>
<code>$ curl --header "X-ApiToken: <%= current_user.api_token %>" -f <%= full_setup_url %> | ruby</code></p>

<p>Then type <code>review --help</code>, happy coding.</p>

<h2>Team</h2>

<p><%= @project.users.map {|u| u.name }.to_sentence %></p>

<p>Didn't like it!? So <%= link_to 'edit your project', edit_project_path(@project) %>.</p>
