!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Review it!
    %meta{ content: 'width=400px', name: 'viewport' }/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.devise
    .content
      #logo= image_tag 'logo.png'
      %h1 Review it!
      - flash.each do |_key, value|
        = content_tag :div, value, class: 'error'
      = yield
