<!DOCTYPE html>
<html>
<head>
  <title>RMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="devise">

<div class="content">
<div id="logo"><%= image_tag 'logo.png' %></div>
<%= yield %>
</div>

</body>
</html>
