<!DOCTYPE html>
<html>
<head>
  <title>RMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-who-am-i="<%= controller_name %>">

  <div id="header">
  <div class="content">
    <span class="path">
      <%= link_to 'Home', projects_path %>
      <%- if under? 'projects' %>
        / <%= link_to @project.name, @project %>
      <%- end %>
      <%- if under_index_of? 'merge_requests' %>
        / <%= link_to 'Merge Requests', project_merge_requests_path(@project) %>
      <%- end %>
      <%- if under? 'merge_requests' %>
        / <%= link_to(@mr.id, project_merge_request_path(@project, @mr).gsub(".", "/")) %>
      <%- end %>
    </span>
    <div class="user-nav">
      <%= current_user.name %>
      <%= link_to "\uf013", '/settings', class: 'settings tipped', 'data-tip' => 'Settings' %>
      <%= link_to "\uf08b", '/users/sign_out', method: :delete, class: 'logout tipped', 'data-tip' => 'Logout' %></div></div>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <div id="error_tips"></div>
  <footer>Review it! &copy; 2014 Hugo Parente Lima</footer>
</body>
</html>
