<!DOCTYPE html>
<html>
<head>
  <title>Review it!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-who-am-i="<%= controller_name %>">

  <div id="header">
  <div class="content">
    <span class="path">
      <%= link_to 'Home', projects_path %>
      <%- if under? 'projects' %>
        / <%= link_to @project.name, @project %>
      <%- end %>
      <%- if under_index_of? 'merge_requests' %>
        / <%= link_to 'Merge Requests', project_merge_requests_path(@project) %>
      <%- end %>
      <%- if under? 'merge_requests' %>
        / <%= link_to(@mr.id, project_merge_request_path(@project, @mr).gsub(".", "/")) %>
      <%- end %>
    </span>
    <div class="user-nav">
      <%= current_user.name %>
      <%= link_to faq_path, class: 'tipped', 'data-tip' => 'FAQ' do %>
      <i class="fa fa-question-circle"></i>
      <% end %>
      <%= link_to edit_user_registration_path, class: 'tipped', 'data-tip' => 'Settings' do %>
      <i class="fa fa-gears"></i>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: 'tipped', 'data-tip' => 'Sign out' do %>
      <i class="fa fa-sign-out"></i>
      <% end %>
    </div>
  </div>
  </div>
  <div class="content">
    <%= render "flash_messages" %>
    <%= yield %>
  </div>
  <div id="error_tips"></div>
  <footer>Review it! <%= version %> &copy; 2014-2015 <a href="https://github.com/hugopl/reviewit/graphs/contributors">All contributors</a></footer>
</body>
</html>
