<!DOCTYPE html>
<html>
<head>
  <title>RMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-who-am-i="<%= controller_name %>">

  <div id="header">
  <div class="content">
    <span class="path">
      <%= link_to 'Home', projects_path %>
      <%- if under? 'projects' %>
        / <%= link_to @project.name, @project %>
      <%- end %>
      <%- if under_index_of? 'merge_requests' %>
        / <%= link_to 'Merge Requests', project_merge_requests_path(@project) %>
      <%- end %>
      <%- if under? 'merge_requests' %>
        / <%=
        # A rails bug, project_merge_requests_path is returning project/:id/merge_requests.:id
        link_to(@mr.id, project_merge_requests_path(@project, @mr).gsub(".", "/"))
         %>
      <%- end %>
    </span>
    <div class="user-nav">
      <%= current_user.name %>
      <%= link_to 'settings', '/settings' %>
      <%= link_to 'logout', '/users/sign_out', method: :delete %></div></div>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <div id="error_tips"></div>
</body>
</html>
